<html>
  <head>
    <style type="text/css">
      body { font-size: 10; background-color: white }
      td, th { padding: 0px 0px 0px 10px; margin: 0px }
      .code, .time, .add, .miss, .sp { text-align: right }
      .time { font-weight: bold }
      .penalty, .add { font-style: italic }
    </style>
  </head>
  <body>
    <div align="center">{{geco_StageTitle}}</div>
    <br />
    <div align="center">
      <b>{{geco_RunnerFirstName}} {{geco_RunnerLastName}}</b>
      <div>{{geco_RunnerClubName}}</div>
      <div>{{geco_RunnerCourse}} - {{geco_RunnerCategory}}</div>
      <div>{{geco_CourseLength}}m, {{geco_CourseClimb}}m+</div>
      <br />
      <b>{{geco_RunnerStatusOrTime}}</b>
      <div class="penalty">Pénalités +{{geco_RunnerTimePenalty}}</div>
      <div>{{geco_RunnerPace}} min/km</div>
    </div>
    <br />
    <table width="75%">
{{#geco_SectionSplits}}
      <tr><td>{{geco_SectionStartControl}} {{geco_SectionName}}</td><td class="time">{{geco_CumulTime}}</td><td class="sp">{{geco_SectionTime}}</td></tr>
{{/geco_SectionSplits}}
    </table>
    <br />
    <table width="75%">
{{#geco_RunnerSplits}}
      <tr><td class="code">{{geco_ControlNum}}</td><td>{{geco_ControlTrace}}</td><td class="{{geco_ControlStatus}}">{{geco_ControlTime}}</td><td class="sp">{{geco_SplitTime}}</td></tr>
{{/geco_RunnerSplits}}
    </table>
    <br />
    <div align="center">Geco - http://sdenier.github.io/Geco</div>
  </body>
</html>
