var gecoData = {
"version": 2,
"raceName": "{{geco_StageTitle}} - Sections",
"circuits": [{{#geco_ResultsCollection}}{
"description":"{{geco_ResultName}} ({{geco_NbFinishedRunners}}/{{geco_NbPresentRunners}}) - {{geco_CourseLength}}m, {{geco_CourseClimb}}m",
"controls":[{{#geco_SectionHeaders}}"{{geco_SectionName}}",{{/geco_SectionHeaders}}],
"finishingRunnersCount":{{geco_NbFinishedRunners}},"presentRunnersCount":{{geco_NbPresentRunners}},
"rankedRunners": [{{#geco_RankedRunners}}{
"rank":"{{geco_RunnerRank}}","status":"{{geco_RunnerStatus}}","firstname":"{{geco_RunnerFirstName}}","lastname":"{{geco_RunnerLastName}}","category":"{{geco_RunnerCategory}}","club":"{{geco_RunnerClubName}}",
"cumulatedTimes":[{{#geco_SectionTimeRow}}{{geco_CumulTimeS}},{{/geco_SectionTimeRow}}]},
{{/geco_RankedRunners}}],
"unrankedRunners": [{{#geco_UnrankedRunners}}{
"rank":"{{geco_RunnerRank}}","status":"{{geco_RunnerStatus}}","firstname":"{{geco_RunnerFirstName}}","lastname":"{{geco_RunnerLastName}}","category":"{{geco_RunnerCategory}}","club":"{{geco_RunnerClubName}}",
"cumulatedTimes":[{{#geco_SectionTimeRow}}{{geco_CumulTimeS}},{{/geco_SectionTimeRow}}]},
{{/geco_UnrankedRunners}}]},
{{/geco_ResultsCollection}}]};
window.postMessage({cmd:'jsonDataReady', data:gecoData}, '*');
