N° dép.;Puce;Ident. base de données;Nom;Prénom;Né;S;Plage;nc;Départ;Arrivée;Temps;Evaluation;N° club;Nom;Ville;Nat;N° cat.;Court;Long;Num1;Num2;Num3;Text1;Text2;Text3;Adr. nom;Rue;Ligne2;Code Post.;Ville;Tél.;Fax;E-mail;Id/Club;Louée;Engagement;Payé
{{#geco_StartlistsCollection}}
{{#geco_Runners}}
{{geco_RunnerStartId}};{{geco_RunnerEcard}};{{geco_ArchiveId}};{{geco_RunnerLastName}};{{geco_RunnerFirstName}};{{geco_RunnerBirthYear}};;;;{{geco_RunnerStartTime}};;;;;;{{geco_RunnerClubName}};;;{{geco_RunnerCategory}}
{{/geco_Runners}}
{{/geco_StartlistsCollection}}
