var gecoData = {
"version": 2,
"circuits": [{{#geco_ResultsCollection}}{
"description":"{{geco_ResultName}} ({{geco_NbFinishedRunners}}/{{geco_NbPresentRunners}}) - {{geco_CourseLength}}m, {{geco_CourseClimb}}m",
{{#geco_SingleCourse?}}"controls":[{{#geco_CourseControls}}{{geco_ControlCode}},{{/geco_CourseControls}}],{{/geco_SingleCourse?}}
"finishingRunnersCount":{{geco_NbFinishedRunners}},"presentRunnersCount":{{geco_NbPresentRunners}},
"rankedRunners": [{{#geco_RankedRunners}}{
"rank":"{{geco_RunnerRank}}","status":"{{geco_RunnerStatus}}","firstname":"{{geco_RunnerFirstName}}","lastname":"{{geco_RunnerLastName}}","category":"{{geco_RunnerCategory}}","club":"{{geco_RunnerClubName}}",
"cumulatedTimes":[{{#geco_RunnerSplits}}{{geco_ControlTimeS}},{{/geco_RunnerSplits}}]},
{{/geco_RankedRunners}}],
"unrankedRunners": [{{#geco_UnrankedRunners}}{
"rank":"{{geco_RunnerRank}}","status":"{{geco_RunnerStatus}}","firstname":"{{geco_RunnerFirstName}}","lastname":"{{geco_RunnerLastName}}","category":"{{geco_RunnerCategory}}","club":"{{geco_RunnerClubName}}",
"cumulatedTimes":[{{#geco_RunnerSplits}}{{geco_ControlTimeS}},{{/geco_RunnerSplits}}]},
{{/geco_UnrankedRunners}}]},
{{/geco_ResultsCollection}}]};
window.postMessage({cmd:'jsonDataReady', data:gecoData}, '*');
